Checks: >
  clang-analyzer-*,
  bugprone-*,
  readability-*,
  performance-*,
  portability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -modernize-use-trailing-return-type
WarningsAsErrors: ""
HeaderFilterRegex: "^(main/|components/).*"
SystemIncludes: "/Users/singletail/dev/esp/v5.4/components"
AnalyzeTemporaryDtors: false
FormatStyle: file
